body{
  background-image: url('D:\\Code\\WD\\JS FCC\\learn-javascript-main\\learn-javascript-main\\3. Build a Blackjack game\\12. Add basic styling\\images\\table.png') ;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
   'Lucida Sans', Arial sans-serif;
   background-size: cover;
   text-align: center;
   color: white;
   font-weight: bold;

}

button{
  font-weight: bold;
  color: #01f432;
  width: 150px;
  background-color: black;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

h1{
  color: yellow;
}

#message-el{
  font-style: italic;


}
